.rad-10{
    border-radius: 10px!important;
}
.fs-7
{
    font-size: 0.8rem !important;
}

.edit{

}

pre
{
    color: white;
}

.edit:focus {
    border: 1px solid #6c757d!important;
    border-radius: 0.45rem!important;
    box-shadow: 0 0px 5px rgb(0, 0, 0, 0.4);
}
#offcanvasWithBackdrop
{
    width: 40%;
}

/*Для Body*/
.body-dark-theme{
    background-color: #0f0f0f!important;
}
/*Для тела задачи*/
.body-task-dark-theme{
    background-color: #272727!important;
    color: rgba(var(--bs-white-rgb),var(--bs-text-opacity))!important;
}

.task-dark-theme{
    background-color: #45464f;
}

/*Для хедера*/
.header-dark-theme{
    background: #8e8e8e!important;
    color: #ffffff!important;
}

body.dark-theme
{
    background-color: #0f0f0f!important;
}
body.dark-theme>header, body.dark-theme aside
{
    background-color: #181818!important;
}

.card-red-theme{
    background-color: #e17979!important;

    .ml-red{
        margin-left: 10px!important;
    }
    .task-title{
        color: #FFFFFF!important;
        opacity: .8!important;
    }
    .task-time{
        color: #d9e2ef!important;
        opacity: .75!important;
    }
}

.card-warning-theme{
    background-color: #edacac!important;
}

.card-middle-theme{
    background-color: #9ba1d9!important;
}

.card-low-theme{
    background-color: #c9e7d3!important;
}