.rad-10{
    border-radius: 10px!important;
}
.fs-7
{
    font-size: 0.8rem !important;
}

.edit{

}

.edit:focus {
    border: 1px solid #6c757d!important;
    border-radius: 0.45rem!important;
    box-shadow: 0 0px 5px rgb(0, 0, 0, 0.4);
}
#offcanvasWithBackdrop
{
    width: 40%;
}

/*Для Body*/
.body-dark-theme{
    background-color: #292d3c!important;
}
/*Для тела задачи*/
.task-dark-theme{
    background-color: #5c627c !important;
    color: rgba(var(--bs-white-rgb),var(--bs-text-opacity))!important;
}

/*Для хедера*/
.header-dark-theme{
    background: #8e8e8e!important;
    color: #ffffff!important;
}