.rad-10{
    border-radius: 10px!important;
}
.fs-7
{
    font-size: 0.8rem !important;
}

.edit{

}

pre
{
    color: white;
}

.edit:focus {
    border: 1px solid #6c757d!important;
    border-radius: 0.45rem!important;
    box-shadow: 0 0px 5px rgb(0, 0, 0, 0.4);
}
#offcanvasWithBackdrop
{
    width: 40%;
}

/*Для Body*/
.body-dark-theme{
    background-color: #0f0f0f!important;
}
/*Для тела задачи*/
.body-task-dark-theme{
    background-color: #272727!important;
    color: rgba(var(--bs-white-rgb),var(--bs-text-opacity))!important;
}

.task-dark-theme{
    background-color: #45464f;
}

/*Для хедера*/
.header-dark-theme{
    background: #8e8e8e!important;
    color: #ffffff!important;
}

body.dark-theme
{
    background-color: #0f0f0f!important;
}
body.dark-theme>header, body.dark-theme aside
{
    background-color: #181818!important;
}

.card-red-theme {
    background-color: #ff6c6c!important;
}
.card-red-theme .ml-red, .card-warning-theme .ml-red{
    margin-left: 10px!important;
}
.card-red-theme {
    color: white !important;
    opacity: .8!important;
}
.card-red-theme time, .card-warning-theme time, .card-middle-theme time, .card-red-theme time{
    color: black!important;
    opacity: .9!important;
}


.card-warning-theme{
    background-color: #ffb9b9!important;
}

.card-middle-theme{
    background-color: #bfc5ff!important;
}

.card-low-theme{
    background-color: #c9e7d3!important;
}